# Dependencias - NO las subas, se instalan en el build
node_modules
.pnpm-store

# Archivos de Build locales - Queremos que Docker genere los suyos
dist
dist-ssr
.output
.vinxi
build
.cache

# Logs
*.log
npm-debug.log*

# Entorno
.env
.env.local

# Git
.git
.gitignore

# IDEs
.vscode
.idea
.DS_Store

# NOTA: NO incluyas nginx.conf ni bun.lockb aquí